################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/les1/.vs/les1/v16
/les1/les1.vcxproj
/les1/les1.vcxproj.filters
/les1/les1.vcxproj.user
/les1/Debug
/les2/.vs/les2/v16
/les2/Debug
/les2/les2.vcxproj
/les2/les2.vcxproj.filters
/les2/les2.vcxproj.user
/les3/.vs/les3/v16
/les3/Debug/les3.tlog
/les3/Debug
/les3/les3.vcxproj.user
/les3/les3.vcxproj.filters
/les3/les3.vcxproj
/les2/Release/les2.tlog
/les2/Release
/les4/.vs/les4/v16
/les4/Debug
/les4/les4.vcxproj.user
/les4/les4.vcxproj.filters
/les4/les4.vcxproj
