################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/les1/.vs/les1/v16
/les1/les1.vcxproj
/les1/les1.vcxproj.filters
/les1/les1.vcxproj.user
/les1/Debug
